.upperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.upperHeader__theme {
    display: flex;
    align-items: center;
    gap: 15px;

}

