.button {
    font-family: 'Spartan', sans-serif;
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
}

.button:active {
    border-bottom: none;
    position: relative;
    left: 1px;
    top: 1px;
}

.button--theme1 {
    background: var(--key-background-theme1);
    border-bottom: 4px var(--key-shadow-theme1) solid;
    color: var(--second-text-theme1);
}

.button--theme2 {
    background: var(--key-background-theme2);
    border-bottom: 4px var(--key-shadow-theme2) solid;
    color: var(--main-text-theme2);
}

.button--theme3 {
    background: var(--key-background-theme3);
    border-bottom: 4px var(--key-shadow-theme3) solid;
    color: var(--main-text-theme3);
}

.button--reset {
    grid-column: 1/3;
}

.button--reset--theme1 {
    background: var(--reset-background-theme1);
    border-bottom: 4px var(--reset-shadow-theme1) solid;
    color: var(--key-background-theme1);
}

.button--reset--theme2 {
    background: var(--reset-background-theme2);
    border-bottom: 4px var(--reset-shadow-theme2) solid;
    color: var(--key-background-theme2);
}

.button--reset--theme3 {
    background: var(--reset-background-theme3);
    border-bottom: 4px var(--reset-shadow-theme3) solid;
    color: var(--second-text-theme3);
}

.button--equals {
    grid-column: 3/5;
}

.button--equals--theme1 {
    background: var(--equals-background-theme1);
    border-bottom: 4px var(--equals-shadow-theme1) solid;
    color: var(--key-background-theme1);
}

.button--equals--theme2 {
    background: var(--equals-background-theme2);
    border-bottom: 4px var(--equals-shadow-theme2) solid;
    color: var(--key-background-theme2);
}

.button--equals--theme3 {
    background: var(--equals-background-theme3);
    border-bottom: 4px var(--equals-shadow-theme3) solid;
    color: var(--key-background-theme3);
}