.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.calculator--theme1 {
    background: var(--main-background-theme1);
}

.calculator--theme2 {
    background: var(--main-background-theme2);
}

.calculator--theme3 {
    background: var(--main-background-theme3);
}