:root {
    --main-background-theme1: hsl(222, 26%, 31%);
    --toogle-background-theme1: hsl(223, 31%, 20%);
    --screen-background-theme1: hsl(224, 36%, 15%);
    --key-background-theme1: hsl(30, 25%, 89%);
    --key-shadow-theme1: hsl(28, 16%, 65%);
    --equals-background-theme1: hsl(6, 63%, 50%);
    --equals-shadow-theme1: hsl(6, 70%, 34%);
    --reset-background-theme1: hsl(225, 21%, 49%);
    --reset-shadow-theme1: hsl(224, 28%, 35%);
    --main-text-theme1: white;
    --second-text-theme1: hsl(221, 14%, 31%);

    --main-background-theme2: hsl(0, 0%, 90%);
    --toogle-background-theme2: hsl(0, 5%, 81%);
    --screen-background-theme2: hsl(0, 0%, 93%);
    --key-background-theme2: hsl(45, 7%, 89%);
    --key-shadow-theme2: hsl(35, 11%, 61%);
    --equals-background-theme2: hsl(25, 98%, 40%);
    --equals-shadow-theme2: hsl(6, 70%, 34%);
    --reset-background-theme2: hsl(185, 42%, 37%);
    --reset-shadow-theme2: hsl(185, 58%, 25%);
    --main-text-theme2: hsl(60, 10%, 19%);
    --second-text-theme2: hsl(0, 0, 100%);


    --main-background-theme3: hsl(268, 75%, 9%);
    --toogle-background-theme3: hsl(268, 71%, 12%);
    --screen-background-theme3: hsl(268, 71%, 12%);
    --key-background-theme3: hsl(281, 89%, 26%);
    --key-shadow-theme3: hsl(285, 91%, 52%);
    --equals-background-theme3: hsl(176, 100%, 44%);
    --equals-shadow-theme3: hsl(177, 92%, 70%);
    --reset-background-theme3: hsl(290, 70%, 36%);
    --reset-shadow-theme3: hsl(285, 91%, 52%);
    --main-text-theme3: hsl(52, 100%, 62%);
    --second-text-theme3: hsl(198, 20%, 13%);
    --third-text-theme3: hsl(0, 0, 100%);
}